.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 1rem;
    background-color: whitesmoke;
}

.navbar__logo{
   height:30px;
    object-fit: contain;
}

.navbar__logo:hover{
    cursor:pointer;
}
.navbar__right{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.navbar__cart{
    background-color: #2874f0;
    padding:5px 10px;
    border-radius:5%;
    color:white;
    font-size:1.2rem;
    cursor:pointer;
    margin-right: 10px;
}


@media (max-width: 767.98px) { 
    .navbar__logo{
        display:none;
    }
    .navbar{
        background-color: #2874f0;
        padding:8px 1rem;
     }
     .navbar__mobile{
         height:60px;
     }
    .menu{
        height: 35px;
    } 
 }


@media (min-width: 767.98px) { 
    .navbar__mobile{
        display:none;
    }
    .navbar__menu{
        display:none;
    }
    .menu{
        display:none;
    } 
 }